@import url(../css/normalize.css);
@import url(../css/fonts.css);

* {
    box-sizing: border-box;
}

html {
    font-size      : 10px;
    scroll-behavior: smooth;
}

body {
    font-size     : 1.8rem;
    font-family   : lato;
    letter-spacing: -0.2px;
}

a {
    text-decoration: none;
    font-size      : inherit;
    color          : inherit;
}

h2,
h3,
p {
    margin    : 0;
    text-align: justify;
}

.wrapper {
    /* max-width: 1020px;
    margin      : 0 auto;  */
}

.flex {
    display  : flex;
    flex-wrap: wrap;
}

header {
    background-color: #2d303a;
    box-shadow      : 0px 5px 0px 0px rgba(50, 55, 70, 1);
    margin-bottom   : 5px;
    position        : fixed;
    width           : 100%;
    z-index: 100;
}

.container {
    max-width: 1020px;
    margin   : 0 auto;
    padding  : 0 40px 0;
}

.header {
    height         : 90px;
    font-family    : 'lato';
    font-weight    : bold;
    font-size      : 25px;
    justify-content: space-between;
}

.navbar {
    padding-left: 98px;
}

.header__item {
    flex-grow : 1;
    flex-basis: 50%
}

h1 {
    letter-spacing: -0.5px;
    font-size     : 2.5rem;
    color         : white;
    margin        : 0;
    height        : 100%;
    line-height   : 87px;
}

h2,
h3 {
    font-family: lato-black;
}

.header__star {
    color: #f06c64;
}

.navbar__list {
    font-size      : 12px;
    list-style-type: none;
    padding        : 0;
    margin         : 0;
    justify-content: space-between;
    height         : 100%;
    align-items    : center;
    font-weight    : bold;
}

.navbar__item {
    padding-top: 8px;
    color      : white;
    transform  : scale(1);
    transition : transform 0.2s ease-in-out 0.1s;
}

.navbar__item:not(.active):hover {
    color: #f06c64;
}

main {
    padding-top: 95px;
}

.slider {
    padding-top     : 53px;
    height          : 595px;
    background-color: #f06c64;
    box-shadow      : 0px 5px 0px 0px rgba(234, 103, 107, 1);
    margin-bottom   : 5px;
    align-content   : center;
    align-items     : center;
    justify-content : space-between;
}

.slider__section {
    flex-wrap      : wrap;
    align-content  : center;
    align-items    : center;
    justify-content: space-between;
}

.slider__section>.section__slider_item:first-child {
    padding-right: 17px;
}

.slider-item {
    position: relative;
    display: none;
}

.slide-two {
    justify-content: center;

}


.slider-item.active {
    display: flex;
}

.section__slider_item {
    align-content: center;
    align-content  : center;
    align-items    : center;
    justify-content: space-between;
}

.slide-one .slider__img:last-child {
    margin-left: 74px;
}

.slide-two.slider__img {
    margin: 0;
    }

.slider__arrow_left {
    order: -1;
}

slider__arrow_right {
    order: 2;
}

.services__offer {
    background-color: #f2f2f2;
    box-shadow      : 0px 5px 0px 0px rgba(255, 255, 255, 1);
    margin-bottom   : 6px;
    padding-bottom  : 30px;
}

.slider__arrow:hover,
.navbar__item:not(.active):hover {
    cursor    : pointer;
    transform : scale(1.2);
    transition: transform 0.2s ease-in-out 0.1s;
}

.services__header h2 {
    font-family: lato-black;
    font-size  : 30px;
    color      : #666d89;
    margin     : 0;
    padding    : 60px 0 20px 0;
}

.services__description {
    font-size     : 18px;
    color         : #767e9e;
    font-family   : "lato-light";
    padding-bottom: 44px;
    line-height   : 30px;
    text-align    : justify;
}

.services {
    flex-wrap  : wrap;
    font-family: lato;
    font-size  : 12px;
    color      : #767e9e;
}

.services__item {
    flex-wrap      : wrap;
    flex-grow      : 1;
    flex-basis     : 33.333333%;
    justify-content: space-between;
    padding-bottom : 30px;
}

.service__item_description {
    width: 230px;

}

.service__item_name {
    flex-wrap     : wrap;
    font-family   : 'lato-black';
    font-size     : 18px;
    color         : #666d89;
    padding-bottom: 10px;
}

.service__item_performance {
    line-height: 21px;
    width      : 218px;
    text-align : justify;
    overflow   : hidden;
    height     : 63px;
}

.services__item:nth-child(2),
.services__item:nth-child(5) {
    padding-left: 5px;
}

.services__item:nth-child(3),
.services__item:nth-child(6),
.services__item:nth-child(3) .service__item_description,
.services__item:nth-child(6) .service__item_description {
    padding-left: 11px;
}


/*     PART2     */

.portfolio {
    background-color: #2d303a;
    box-shadow      : 0px 6px 0px 0px #323746;
    margin-bottom   : 6px;
    padding         : 60px 0 47px;
    letter-spacing  : 0;
}

.portfolio__tags {
    padding: 17px 0 19px;
}

.tag {
    padding      : 3px 6px 3px 7px;
    color        : #676e8a;
    border       : 1px solid #676e8a;
    border-radius: 5px;
    font-size    : 1.21rem;
    margin-right : 9px;
}

.tag__selected {
    color        : #c5c5c5;
    border       : 1px solid #c5c5c5;
    padding-right: 7px;
}

.tag:hover {
    cursor: pointer;
    color : #c5c5c5;
    border: 1px solid #c5c5c5;
}

.portfolio h2,
.about-us h2 {
    padding-bottom: 24px;
    color         : #666d89;
    font-size     : 3rem;
}

.about-us h2 {
    padding-bottom: 20px;
}

.portfolio p,
.about-us p {
    letter-spacing: -0.2px;
    font-family   : lato-light;
    color         : #767e9e;
}

.layout-4-column {
    justify-content: space-between;
    align-items    : flex-start;
}

.layout-4-column__item {
    max-width    : 25%;
    margin-bottom: 17px;
}

.layout-4-column__item img {
    height   : 100%;
    max-width: 220px;
}

.layout-4-column__item:nth-child(n+13) {
    display: none;
}

.about-us {
    background-color: #f2f2f2;
    box-shadow      : 0px 6px 0px 0px #ffffff;
    margin-bottom   : 6px;
    padding         : 59px 0 65px;
}

.common-introducing {
    padding       : 0 0 45px;
    line-height   : 30px;
    text-align    : justify;
    letter-spacing: -0.2px;
}

.layout-3-column__item {
    flex-basis: 33.333333%;
    text-align: justify;
}

.layout-3-column__item:nth-child(n+2) {
    text-align: center;
}

.layout-3-column__item:nth-child(3n+1) {
    text-align: start;
}

.layout-3-column__item:nth-child(3n) {
    text-align: end;
}

.layout-3-column__item:nth-child(3n+1) .person-introduce {
    padding-left: 0;
}

.layout-3-column__item:nth-child(3n) .person-introduce {
    padding-left: 13px;
}

.person-introduce {
    text-align: justify;
    padding   : 15px 0 0 7px;
}

.person-name {
    font-size  : 1.85rem;
    line-height: 18px;
    color      : #666d89;
    white-space: nowrap;
    max-width  : 300px;
    overflow   : hidden;
}

.person-info {
    font-size: 1.2rem;
    color    : #767e9e;
}

.person-info {
    font-family: lato;
    padding    : 9px 0 23px;
    line-height: 21px;
    width      : 300px;
    font-style : normal;
}

.item__person-links img {
    margin-right: 5px;
}

.link-item {
    border-radius: 50%;
}

.link-item:hover {
    cursor          : pointer;
    background-color: rgba(197, 191, 191, 0.2);
}


/*     PART 3     */


.project-order__section {
    background-color: #f06c64;
    padding         : 64px 0 51px;
    margin-bottom   : 6px;
    box-shadow      : 0px 6px 0px 0px #ea676b;
    color           : #f0d8d9;
}

.project-order_info {
    font-family: lato-light;
    line-height: 30px;
    padding    : 19px 0 43px;
}

input,
textarea {
    border          : none;
    background-color: #d6564f;
    outline         : none;
    padding         : 0;
    margin-bottom   : 16px;
    border-radius   : 5px;
    width           : 619px;
    padding-bottom  : 7px;
    padding-left    : 15px;
    color           : #f0d8d9;
}

textarea {
    padding   : 7px 0 0 15px;
    resize    : none;
    max-height: 202px;
}

input {
    height: 38px;
}


input::placeholder,
textarea::placeholder {
    font-size     : 1.2rem;
    line-height   : 22px;
    vertical-align: middle;
    color         : #f48c8f;
}

input:invalid {
    box-shadow: inset 0px 0px 12px 0px rgba(255, 10, 10, 1);
}

@-webkit-keyframes autofill {
    to {
        color     : inherit;
        background: #d6564f;
    }
}

input:-webkit-autofill {
    -webkit-animation-name     : autofill;
    -webkit-animation-fill-mode: both;
}

.order-form {
    flex-direction: column;
}

.connection-ways {
    flex-direction: column;
    font-family   : lato;
    font-style    : normal;
}

.connection-ways__item img {
    padding-right: 11px;
}

.contact-info {
    max-width  : 300px;
    font-size  : 1.2rem;
    line-height: 21px;
}

.contact-info__title {
    font-size     : 1.8rem;
    letter-spacing: 0.2px;
}

.contact-info__desc {
    padding   : 8px 0 24px 0;
    text-align: justify;
}

.project-order__main-field {
    position       : relative;
    justify-content: space-between;
    align-items    : flex-start;
}

.button {
    position: absolute;
    padding : 0;
    margin  : 0;
    height  : 40px;
    width   : 80px;
    top     : 324px;
    left    : 630px;
}

.button:hover {
    cursor: pointer;
    color : rgb(124, 115, 115);
}

.button:active {
    cursor   : pointer;
    transform: scale(0.9);
}

footer {
    background-color: #2d303a;
    color           : #666d89;
    font-size       : 1.2rem;
    padding         : 21px 0 21px;
}

.footer__inner {
    align-items    : center;
    justify-content: space-between;
}

.footer-links {
    min-width      : 152px;
    justify-content: space-between;
}

.footer-links__item img {
    border-radius: 50%;
}

.footer-links__item:hover img {
    background-color: rgb(90, 86, 86);
}

.active {
    color     : #f06c64;
    cursor    : pointer;
    transform : scale(1);
    transition: transform 0.2s ease-in-out 0.1s;
}

.submit-answer {
    position        : fixed;
    width           : 100vw;
    height          : 100vh;
    background-color: #0008;
    z-index         : 3;
}

.hidden {
    display: none;
}

.answer-info {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -100%);
    z-index  : 4;
}